

.banner
	background url('../img/banner-bg.jpg') no-repeat center center
	background-size cover
	min-height 100%
	display flex
	align-items center
	text-align center
	color #fff
	padding 350px 0 200px 0

	h1
		font-size toem(48px)
		margin 0 0 35px 0
		font-family 'Exo', sans-serif
		font-weight 500

		span
			font-weight 900

	p
		font-size toem(18px)
		font-weight 300
		margin 0 auto
