

.box
	text-align center
	padding 40px 0

	> header
		max-width 900px
		margin-bottom 30px

		h2
			font-weight 600
			font-size toem(30px)
			color #454546
			margin 0

		p
			padding-top 30px
			color #8f8e91
			font-size toem(16px)
			line-height 1.5