

.contact
	background url('../img/contact-bg.jpg') no-repeat center center
	background-size cover
	color #fff

	> header
		text-transform uppercase

		h2
			color #fff

	.input-group
		padding 10px
		display block
		margin-bottom 15px
		float left


	.form-control
		display block
		width 100%
		padding 16px
		background rgba(0,0,0, .5)
		color #fff
		border 1px solid #a09f9f
		font-style italic
		max-width 100%
		box-shadow none
		height auto

		&:focus
			outline none
			border-color $main-color
			box-shadow none


::-moz-placeholder          { color: #fff; }/* Firefox 19+ */

