

.main-footer, .foot-copyright
	color #8f8e91


.main-footer
	background-color #0b0a0a
	padding 20px 0 70px

	h3
		font-size toem(18px)
		color white
		margin 20px 0 15px

	p
		font-weight 300

	ul
		list-style none
		margin 0
		padding 0

		@extend .clearfix

		li
			float left
			width 50%

			a
				color inherit
				font-weight 300

	form

		.input-group
			margin-bottom 16px

			&:last-of-type
				margin-bottom 0

		.form-control
			background transparent
			display block
			width 100%
			border 1px solid #838484
			color #fff
			tr border-color

			&:focus
				border-color white



.foot-copyright
	background-color black
	padding 25px 0
	text-align center

	p
		margin 0

	a
		color inherit
