

.pricing
	background-color #fff

	header
		margin-bottom 0

	.item
		text-align center

		&:hover

			header
				color $main-color

			main, .price
				border-color $main-color

			.price
				color #fff
				background-color $main-color

	main
		border 1px solid transparent
		tr border-color
		padding 20px 5px

		ul
			margin-bottom 20px

		li
			padding 5px 0

	header
		color #8f8e91
		padding 30px 5px
		tr color

	.price
		color #454546
		font-weight 600
		font-size toem(36px)
		border 1px solid #a7a6a2
		padding 8px 5px
		tr color, background-color

	span, sub, sup
		position relative
		display inline-block

	sup
		left 7px
		top -15px
		font-size 0.8em

	sub
		right 10px
		bottom 0
		font-size 0.6em
		font-weight 400

