

.services

	.item
		padding 23px
		text-align center

		&:hover

			.item-inner
				border-color $main-color

			p.title, .icon
				color $main-color

		.item-inner
			border 2px solid #c3c1bf
			padding 20px 10px
			tr border

		p.title, .icon
			color #454546
			font-size toem(24px)
			font-weight 600
			tr color

		p.title
			margin-bottom 25px
			line-height 1.3

		p
			line-height 1.7
