

.teams
	background-color #fff

	header
		margin-bottom 50px

	.item
		position relative
		text-align center
		color white

		margin-bottom 20px

		&:hover
			.overlay
				top 0

		.content
			position relative
			overflow hidden

			img
				display block
				width 100%
				height auto

			.item-desc
				position absolute
				bottom 0
				left 0
				right 0
				padding 10px 5px
				background-color rgba(#454546, .94)

		.overlay
			position absolute
			top 100%
			left 0
			right 0
			bottom 0
			background-color rgba($main-color, .94)
			tr left, right, bottom, top
			overflow hidden
			padding-top 55%

			.socials
				padding 3px 0
				margin-top 25%

				a
					color #fff
					font-size toem(18px)
					margin 2px
					line-height 1
					height 35px
					width @height
					line-height @height
					border-radius 2px
					border 1px solid transparent
					display inline-block
					tr border-color

					&:hover
						border-color rgba(#fff, .94)

		p
			margin 0
			padding 0
			line-height 1.4
			font-weight 300

			&.name
				font-weight 400
				font-size toem(18px)