


@media (max-width: 768px)

	html
		font-size 13px

	.main-header

		.navbar-brand
			padding-top 13px

			> img
				max-height 25px

	.banner
		padding 250px 0 150px
		min-height inherit

		h1
			font-size toem(30px)
			margin-bottom 15px

		p
			font-size toem(14px)

	ul.tags

		li
			font-size toem(14px)
			font-size 1rem
			margin 2px 5px

	.works

		.item
			margin-bottom 0

		.load-more
			padding-top 20px

	.box
		padding 30px 0

		> header
			margin-bottom 20px

	.pricing header
		padding-top 10px
		padding-bottom 20px


// @media (min-width: 769px) and (max-width: 992px)


@media (max-width: 992px)

	.main-footer

		.subscribe
			text-align center

			.form-control
				display inline-block
				vertical-align top

			.input-group
				display table
				width 100%



// @media (min-width: 993px) and (max-width: 1200px)



// @media (min-width: 1201px)

