

toem(fs)
	return round( unit( fs / $font-size , em ), 2 )


tr(props...)
	$str = ''

	for prop in props
		if prop == props[len(props)-1]
			$str += prop + ' ' + $transition-prop + ' '
		else
			$str += prop + ' ' + $transition-prop + ', '

	transition unquote($str)


social(size)
	text-align center

	a
		display inline-block
		width size
		height size
		margin 10px
		font-size (size - 15%)
		line-height 1.1

		&, & i
			color inherit

